<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Ashe</title>
	<link rel="stylesheet" type="text/css" href='{%static "assets/css/my_css.css" %}'>
	<script>
		function sure(){
			alert("are you sure you wanna logout of your account?")
		}
	</script>
</head>
<body>
	<div class="header-class">
		<nav>
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="stories">Stories</a></li>
				<li><a href="about">About</a></li>
				<li><a href="contact">Contact</a></li>
				<li><a href="login_page">Login</a></li>
			</ul>
		</nav>
	</div>
	{% if user.is_authenticated %}
	<div id="username-display">
		<ul>
			<li>
			Hello, {{user.first_name}}
			</li>
		</ul>
	</div>
	{% endif %}
	<!--<img src={{image}} alt="good">-->
	<div class="boxers">
		<h1>Hello World</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	<div class="boxers">
		<h1>Ashe</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	<div class="boxers">
		<h1>I love my Life</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	{% if user.is_authenticated %}
	</div>
	{% for comment in comments %}
	<div class="comments">
		<h3>{{username}}</h3>
		<p>{{comment}}</p>
	</div>
	{% endfor %}
	{% endif %}
	{% if user.is_authenticated %}
	<form action="post_comments" method="POST">
		<table>
			{% csrf_token %}
			{{form.as_table}}
		</table>
		<input type="submit">
	</form>
	{% endif %}
	{% for message in messages %}
	<h5>
		{{message}}
	</h5>
	{% endfor %}
	<div class="categories">
		<ul>
			{% if user.is_authenticated %}
			<li><a href="logout" onclick="sure">Logout</a></li>
			<li><a href="google.com">Google</a></li>
			<li><a href="coolval.com">Coolvall</a></li>
			{% else %}
			<li><a href="login_page">Login</a></li>			
			<li><a href="register">Register</a></li>	
			<li><a href="google.com">Google</a></li>
			<li><a href="coolval.com">Coolvall</a></li>
			{% endif %}
		</ul>
	</div>
	
	<div class="footer-class">
		<footer>Copyrights &copy 2020 Ashe</footer>
	</div>
</body>
</html>